@import 'variables';

body, html{
  padding:0; margin:0;
  height:100%;
  overflow:hidden;
}

#instafeed{
  margin-left:60px;
  border-left:4px solid black;
  border-right:4px solid black;
}

.insta {
  &:first-child{
    //border: 1px solid red;
    //width: $lg_img;
    height:auto;
  }

  //width: $sm_img;
  height:auto;
  margin:0; padding:0;
  margin: -2px 0px;

  &:last-child{
    margin-bottom: 0px;
  }

  &:nth-last-child(2){
    margin-bottom: 0px;
  }
}

#super-wrapper{
  position: relative;
}
